/*  dosis font~
    <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 200 to 800 */

.dosis-content-font {
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
body a{
    text-decoration: none;
    color:azure;
}

header{
    width: 100vw;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
}
nav{
    height: 3em;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    align-items: center;
}

main{
    width: 50vw;
    font-family: "Dosis", serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
h1 {
    margin:2em 0 ;
}
h2 {
    margin-bottom: 0.5em;
}
h3{
    padding: 0.5em 0;
}
article {
    margin-bottom: 2em;
}
article img{
    width: 100%;
}
article a {
    color:black;
    font-weight: 700;
    font-size: 1em;
}
#contatos a img {
    height: 28px;
    width: 28px;
}
#contato_icones {
    padding:1em 0;

}
